/* Запобігає overflow */
*, *::before, *::after {
  box-sizing: border-box;
}

main {
  padding: 0 15px;
}

:root {
  --primary-color: #2563eb;
  --text-color: #1e293b;
  --bg-color: #cecece;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
}

h1 {
  color: var(--primary-color);
}

/* 📱 MOBILE FIRST */
nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 💻 Від 768px */
@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    flex-direction: row;
  }
}

/* Grid для проєктів */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}