/* Запобігає непередбачуваним overflow при додаванні padding */
*, *::before, *::after {
  box-sizing: border-box;
}
/* Відступи для кращого відображення контенту на мобільних  */
main {
  padding: 0 15px;
}

:root {
  --primary-color: #2563eb;
  --text-color: #1e293b;
  --bg-color: #cecece;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
}

h1 {
  color: var(--primary-color);
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    flex-direction: row;
  }
}